<!-- header>img+nav>ul>li*6>criar com atalho-->
<header class="cabecalho container">
    <img src="../../../assets/css-layout/logo-apeperia.svg"  class="cabecalho__logo" alt="Logo da Apeperia">
    <nav class="cabecalho__navegacao">
        <ul>
            <li><a [routerLink]="'users'">Sobre</a></li>
            <li><a href="">Planos</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Destaques</a></li>
            <li><a href="">Institucional</a></li>
            <li><a href="">Contato</a></li>
        </ul>
    </nav>
</header>