<!-- https://www.figma.com/file/sSMbIqKaGBd66Y8roxTk2p/AluraBooks?node-id=37%3A94 -->
<!-- html:5 -->
<!-- 
https://www.alura.com.br/artigos/o-que-e-html-suas-tags-parte-1-estrutura-basica
https://cursos.alura.com.br/extra/alura-mais/animacao-de-coracao-um-projeto-em-html-css-c1360
https://www.alura.com.br/artigos/html-tags-elementos-block-level?utm_source=gnarus&utm_medium=timeline
https://www.alura.com.br/artigos/flexibilidade-em-paginas-para-dispositivos-moveis-com-media-queries


 -->
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<div class="body">

    <header class="cabecalho">
        <div class="container">
            <input type="checkbox" id="menu" class="container__botao">
            <label for="menu">
                <span class="cabecalho__menu-hambuguer container__imagem"></span>
            </label>
            <ul class="lista-menu">
                <li class="lista-menu__titulo">Categorias</li>
                <li class="lista-menu__item">
                    <a href="#" class="lista-menu__link">Programação</a>
                </li>
                <li class="lista-menu__item">
                    <a href="#" class="lista-menu__link">Front-end</a>
                </li>
                <li class="lista-menu__item">
                    <a href="#" class="lista-menu__link">Infra</a>
                </li>
                <li class="lista-menu__item">
                    <a href="#" class="lista-menu__link">Business</a>
                </li>
                <li class="lista-menu__item">
                    <a href="#" class="lista-menu__link">Desing & UX</a>
                </li>
            </ul>
            <img src="../../../assets/flex-box-aula3/Logo.svg" alt="Logo da AluraBooks" class="container__imagem">
        </div>

        <ul class="opcoes">
            <input type="checkbox" id="opcoes__botao" class="opcoes__botao">
            <label for="opcoes__botao">
                <li class="opcoes__item"><a class="opcoes__link">Categorias</a></li>
            </label>
               
            <ul class="lista-menu">
                <li class="lista-menu__titulo">Categorias</li>
                <li class="lista-menu__item">
                    <a href="#" class="lista-menu__link">Programação</a>
                </li>
                <li class="lista-menu__item">
                    <a href="#" class="lista-menu__link">Front-end</a>
                </li>
                <li class="lista-menu__item">
                    <a href="#" class="lista-menu__link">Infra</a>
                </li>
                <li class="lista-menu__item">
                    <a href="#" class="lista-menu__link">Business</a>
                </li>
                <li class="lista-menu__item">
                    <a href="#" class="lista-menu__link">Desing & UX</a>
                </li>
            </ul>

            <li class="opcoes__item"><a href="#" class="opcoes__link">Favoritos</a></li>
            <li class="opcoes__item"><a href="#" class="opcoes__link">Minha estante</a></li>
        </ul>

        <div class="container">
            <a href="#">
                <img src="../../../assets/flex-box-aula3/Favoritos.svg" alt="" class="container__imagem">
            </a>
            <a href="#">
                <img src="../../../assets/flex-box-aula3/Compras.svg" alt="" class="container__imagem">
            </a>
            <a href="#">
                <img src="../../../assets/flex-box-aula3/Usuário.svg" alt="" class="container__imagem">
            </a>
        </div>
    </header>

    <section class="banner">
        <h2 class="banner__titulo">Já sabe por onde começar?</h2>
        <p class="banner__texto">Encontre em nossa estante o que precisa para seu desenvolvimento!</p>
        <input type="search" class="banner__pesquisa" placeholder="Qual será sua próxima leitura?">
    </section>

    <section class="carrossel">
        <h2 class="carrossel__titulo">Novos lançamentos</h2>

        <!-- Slider main container -->
        <div class="swiper">
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="../../../assets/flex-box-aula3/ApacheKafka.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../../../assets/flex-box-aula3/Liderança.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../../../assets/flex-box-aula3/Javascript.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../../../assets/flex-box-aula3/Guia Front-end.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../../../assets/flex-box-aula3/Portugol.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../../../assets/flex-box-aula3/ApacheKafka.png" alt="">
                </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

    </section>

    <div class="card">
        <!-- 1 linha -->
        <div class="card__descricao">
            <!-- 1 coluna -->
            <div class="descricao">
                <h3 class="descricao__titulo">Talvez você tambem se interesse por ...</h3>
                <h2 class="descricao__titulo-livro">Angular 11 e FireBase</h2>
                <p class="descricao__texto">blablalblblbalbalbalbalbalbab blablalblblbalbalbalbalbalbab blablalblblbalbalbalbalbalbab</p>
            </div>
             <!-- 2 coluna -->
            <img src="../../../assets/flex-box-aula3/Angular.png" alt="" class="descricao__imagem">
        </div>

        <!-- 2 linha -->
        <div class="card__botoes">
            <!-- 1 coluna -->
            <ul class="botoes">
                <li class="botoes__item">
                    <img src="../../../assets/flex-box-aula3/Favoritos.svg" alt="">
                </li>
                <li class="botoes__item">
                    <img src="../../../assets/flex-box-aula3/Compras.svg" alt="">
                </li>
            </ul>
            <!-- 2 coluna -->
            <a href="" class="botoes__ancora">Saiba Mais</a>
        </div>
    </div>
</div>