<h1>Alura Midi</h1>

<section class="teclado">
    <button (click)="teclaSom('keyq')" class="tecla tecla_pom">Pom</button>
    <button (click)="teclaSom('keyw')" class="tecla tecla_clap">Clap</button>
    <button (click)="teclaSom('keye')" class="tecla tecla_tim">Tim</button>

    <button (click)="teclaSom('keya')" class="tecla tecla_puff">Puff</button>
    <button (click)="teclaSom('keys')" class="tecla tecla_splash">Splash</button>
    <button (click)="teclaSom('keyd')" class="tecla tecla_toim">Toim</button>

    <button (click)="teclaSom('keyz')" class="tecla tecla_psh">Psh</button>
    <button (click)="teclaSom('keyx')" class="tecla tecla_tic">Tic</button>
    <button (click)="teclaSom('keye')" class="tecla tecla_tom">Tom</button>
</section>

<audio controls src="../../../assets/javascript-aula1/sounds/keyq.wav" #som_tecla_pom id="som_tecla_pom"></audio>
<audio controls src="../../../assets/javascript-aula1/sounds/keyw.wav" #som_tecla_pom id="som_tecla_clap"></audio>
<audio controls src="../../../assets/javascript-aula1/sounds/keye.wav" id="som_tecla_tim"></audio>
<audio controls src="../../../assets/javascript-aula1/sounds/keya.wav" id="som_tecla_puff"></audio>
<audio controls src="../../../assets/javascript-aula1/sounds/keys.wav" id="som_tecla_splash"></audio>
<audio controls src="../../../assets/javascript-aula1/sounds/keyd.wav" id="som_tecla_toim"></audio>
<audio controls src="../../../assets/javascript-aula1/sounds/keyz.wav" id="som_tecla_psh"></audio>
<audio controls src="../../../assets/javascript-aula1/sounds/keyx.wav" id="som_tecla_tic"></audio>

<h1> Alura Fone </h1>
 <section class="teclado">
    <input type="button" value="1">
    <input type="button" value="2">
    <input type="button" value="3">
    <input type="button" value="4">
    <input type="button" value="5">
    <input type="button" value="6">
    <input type="button" value="7">
    <input type="button" value="8">
    <input type="button" value="9">
    <input type="button" value="*">
    <input type="button" value="0">
    <input type="button" value="#">
  </section>
  <input type="tel" placeholder="Digite seu telefone">