<!-- html:5 para criar a estrutura-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- https://www.figma.com/file/tFDVyNuKhrT2G03k2dCstW/Alura-Plus---Layout -->

<!-- 
    https://medium.com/collabcode/pare-de-chutar-e-aprenda-como-funciona-o-display-inline-block-4e6cba2f19d4
    https://www.alura.com.br/artigos/criando-layouts-com-css-grid-layout
    https://www.alura.com.br/artigos/guia-de-unidades-no-css
    https://www.alura.com.br/artigos/qual-diferenca-entre-id-e-class
    https://www.alura.com.br/artigos/nomes-de-classes-no-css
    https://developer.mozilla.org/pt-BR/docs/Web/CSS/Pseudo-classes
    https://www.alura.com.br/artigos/heroku-vercel-outras-opcoes-cloud-plataforma
    https://www.alura.com.br/artigos/escrever-bom-readme
    https://cursos.alura.com.br/course/git-github-controle-de-versao
-->

<div class="content">

    <section class="banner container">
        <article class="container__caixa">
            <h1 class="container__titulo">Com a Combo+, você pode aproveitar o Alura+ e o Alura Língua por um preço único</h1>
            <!-- Utilizar img se necessario exibir para 'acessibilidade' -->
            <img src="../../../assets/flex-box-aula2/Combo.png" 
                alt="Com a Combo+, você pode aproveitar o Alura+ e o Alura Língua por um preço único"
                class="container__imagem">

            <!-- block element modifier -->
            <a href="#" class="container__botao">Assine por 12x de R$120,00*</a>
            <a href="#" class="container__botao botao_secundario">Assinar somente o Alura+</a>
            <p class="container__aviso">O preço pode variar caso a assinatura seja feita em outros planos</p>
        </article>
    </section>

    <section class="container secundario">
        <img src="../../../assets/flex-box-aula2/Plataformas.png" alt="Um monitor e um celular com o alura plus abertor" class="secundario__imagem">
        <div class="container__descricao">
            <h2 class="descricao__titulo">Assista do seu jeito</h2>
            <p class="descricao__texto">Aproveite a tela grande da TV ou assista no tablet. Nossa selecção de cursos não para de crescer.</p>
        </div>
    </section>

    <section class="container secundario">
        <div class="container__descricao">
            <p class="descricao__texto">
                Só o Combo+ oferece Alura+ e Alura Língua juntos para você ter acesso a cursos de 
                diversas áreas da tecnologia e aprender inglês ou espanhol, onde e como quiser.
            </p>
            <a href="" class="container__botao secundario__botao">
                Assine o Combo+
            </a>
        </div>
        <img src="../../../assets/flex-box-aula2/Telas.png" alt="Tela da alura plus e do alura lingua" class="secundario__imagem">
    </section>

    <section class="container secundario">
        <img src="../../../assets/flex-box-aula2/Notebook.png" alt="Notebook com a página do curso HTML5 e CSS3 da Alura aberta" class="secundario__imagem">
        <div class="container__descricao">
            <h2 class="descricao__titulo">Baixe seus cursos</h2>
            <p class="descricao__texto">
                Baixe e assista quando e onde quiser. Assim, seus favoritos estão sempre com você, até mesmo sem internet.
            </p>
        </div>
    </section>

    <section class="dispositivos">
        <h2 class="dispositivos__tipos">Disponível nos seus dispositivos favoritos</h2>
        <ul class="dispositivos__lista">
            <li>
                <img src="../../../assets/flex-box-aula2/tv.png" alt="icone de televisao">
                <h3 class="lista__item">tv</h3>
            </li>
            <li>
                <img src="../../../assets/flex-box-aula2/computador.png" alt="icone de computador">
                <h3 class="lista__item">computador</h3>
            </li>
            <li>
                <img src="../../../assets/flex-box-aula2/celular.png" alt="icone de celular">
                <h3 class="lista__item">celular</h3>
            </li>
        </ul>
    </section>

    <footer class="rodape">
        <img src="../../../assets/flex-box-aula2/Logo.png" alt="Logo alura+" class="rodape__logo">
        <ul class="rodape__lista">
            <li class="lista__link"><a href="">idioma</a></li>
            <li class="lista__link"><a href="">dispositivos compatíveis</a></li>
            <li class="lista__link"><a href="">contrato de assinatura</a></li>
            <li class="lista__link"><a href="">politica de privacidade</a></li>
            <li class="lista__link"><a href="">protecao de dados no Brasil</a></li>
            <li class="lista__link"><a href="">anuncios personalizados</a></li>
            <li class="lista__link"><a href="">ajuda</a></li>
        </ul>
        <p class="rodape__texto">® 2021 Alura, Alura+ e Alura Língua. Todos os direitos reservados. Serviço de assinatura paga. Conteúdo sujeito a disponibilidade.</p>
        <p class="rodape__texto">Alura+ é um serviço pago, baseado em assinatura e sujeito a termos e condições. O serviço Alura+ é comercializado por Aovs Sistemas de Informática S.A., Rua Vergueiro, 3185 - Liberdade, São Paulo - SP, 04101-300, Brasil e CNPJ 05.555.382/0001-33</p>
    </footer>
</div>



