<!-- content projetion -->
<div class="content">
    <label for="inputSuccess">Endereço</label>
    <div class="content-item">
        <div class="" [class.has-success]="input.valid && (input.dirty || input.touched)"
            [class.has-error]="!input.valid && (input.dirty || input.touched)">
            <ng-content></ng-content>
        </div>
        <span class="help-block" *ngIf="!input.valid && (input.dirty || input.touched)">
            <label>{{errorMessage}}</label>
        </span>
    </div>
</div>

<!-- content projetion -->