<!-- 
    SEO é a sigla para search engine optimization, que significa: otimização para mecanismos de busca.
    SEO é um conjunto de estratégias que influenciam diretamente o algoritmo de buscadores, como o Google, 
    e ajuda a inteligência da plataforma a ranquear, ou seja, a colocar lista de prioridades e classificar os melhores resultados para a pesquisa do usuário.

Os especialistas de marketing digital, hoje em dia, falam que o objetivo de todo projeto é que ele seja SMART - essa palavra que muita gente pode conhecer e que significa “inteligente” em inglês.
acrônimo para as iniciais das seguintes palavras: specific, measurable, achivable, realistic e timely.
“específico”, “mensurável”, “alcançável”, “realista” e “temporal”/”oportuno”.

https://caelum-online-public.s3.amazonaws.com/2200-seo-fundamentos/02/2200%20-%20Aula%202%20-%20Modelo%20de%20Briefing%20de%20SEO.xlsx


Os diferentes níveis de palavras-chave - mais genéricas e mais específicas - podem se adequar muito bem ao seu objetivo de marketing. Por exemplo, se você traçar um objetivo de reconhecimento de marca o ideal é aparecer para o maior número de usuários possíveis, e nesse caso as palavras genéricas são ideias. Mas, se seu foco é a divulgação de um produto específico e bem nichado, use as palavras-chave menos genéricas para alcançar o usuário certo. E assim, você consegue ter conteúdos de diferentes níveis no seu site.

Para um bom e completo planejamento estratégico, o primeiro passo é documentar todas as informações necessárias e pertinentes ao projeto: dados da empresa, do produto ou serviço, público-alvo, preço, concorrentes etc. Esse documento leva o nome de briefing.
O primeiro passo para começar o planejamento estratégico de SEO é um bom e completo Briefing! É a partir dele que você identifica os objetivos e levanta ideias para o seu conteúdo. Sem um briefing, fica bem mais difícil acertar!

Essa página inicial do Google se chama SERP. Tem uma sigla que falamos no mundo do marketing digital, que chama SERP
SERP significa search engine results page
nada mais é que “página de resultados do mecanismo de busca”.
Ou seja, toda vez que você faz uma pesquisa no Google e aparece aqueles resultados para a sua pesquisa, aquela estrutura que aparece para você de resultados é batizada no universo de marketing digital de SERP

A palavra-chave que precisamos decifrar para fazermos um bom trabalho de SEO dentro do Google chama-se algoritmo
Esse algoritmo é responsável por filtrar e entregar as informações de acordo com os fatores de ranqueamento do próprio Google



-->